@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

html{
  font-size: 16px;
}

:root{
  --main-color-light: #90EE90;
  --main-color-dark: #002E21;
}

a{
  text-decoration: none;
  color: black;
}